.dynamic-table {
  width: 100%;
  border-collapse: collapse;
}

.dynamic-table tr{
  height: 60px;
}

.dynamic-table th,
.dynamic-table td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

.dynamic-table th {
  position: relative;
  cursor: pointer;
}
.fixed-header{
  position: sticky;
  top: 0;
  background-color: #cb9a9a;
}

