.dynamic-table {
  width: 100%;
  border-collapse: collapse;
  z-index: 0;
}

.dynamic-table tr{
  height: 60px;
}
.table-header {
  position: relative;
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: small;
}


.dynamic-table td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: small;
}

.fixed-header{
  position: sticky;
  top: 0;
  background-color: #cb9a9a;
}

.popup-container {
  opacity: 0;
  /* pointer-events: none; */
}


.table-header:hover .popup-container {
  opacity: 1;
  /* pointer-events: auto; */
}